#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* height: 100vh; */
}

.main-image {
  border-radius: 20px;
  width: 97%;
  max-width: 600px;
  padding: 0 10px 0 10px;;
}

/* Onboarding screen */

.onboarding-cont, .gameover-cont {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loss, .win {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.onboarding-cont p {
  margin: 12px 0 12px 0;
}

.onboarding-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.buttons-cont {
  display: flex;
  gap: 8px;
}

.buttons-cont Button {
  width: 120px;
}

.main-cont {
  height: 100%;
}

.main-heading {
  font-size: 40px;
}

/* Game Screen */

.game-cont {
  display: flex;
  flex-direction: column;
}

.extra-info {
  display: flex;
  justify-content: space-between;
}

.controls-cont {
  border-radius: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.scoreboard-cont {
  font-size: 20px;
  padding: 8px;
  border-radius: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.gameboard-cont {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(146, 202, 229);
  border: none;
  border-radius: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(200px), max(300px)));
  justify-content: center;
  justify-items: center;
  padding: 15px;
  margin-top: 15px;
}

.card {
  background-color: rgb(231, 240, 249);
  border-radius: 20px;
  width: 200px;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
  font-size: 18px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.05);
}

.card .image-cont {
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .message {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.footer {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .extra-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .main-heading {
    font-size: 45px;
  }

  .buttons-cont {
    display: flex;
    flex-direction: column;
  }
}